chain:
  kwargs:
    netuid: 61
    coldkey: "YOUR_COLDKEY"
    hotkey: "YOUR_HOTKEY"
    network:
      - test

websearch:
  kwargs:
    key: "TAVILY_API_KEY"

llm:
  kwargs:
    key: "CHUTES_API_KEY"
    base_url: "https://llm.chutes.ai/v1"
    model: "deepseek-ai/DeepSeek-V3-0324"

deep_research:
  kwargs:
    key: "CHUTES_API_KEY"
    base_url: "https://llm.chutes.ai/v1"
    emb_base_url: "https://chutes-baai-bge-large-en-v1-5.chutes.ai/embed"
    summary_model: "Qwen/Qwen3-235B-A22B-Instruct-2507"
    research_model: "Qwen/Qwen3-235B-A22B-Instruct-2507"
    compression_model: "deepseek-ai/DeepSeek-V3-0324"
    final_model: "deepseek-ai/DeepSeek-V3-0324"

miner_sampler:
  kwargs:
    # Available modes: "sequential" (queries miners sequentially based on the uid number), "random".
    sample_mode: sequential
    sample_size: 1
    # For testing purposes one can specify available pool of uids.
    # available_uids: [1, 2]
    # available_addresses: ["http://0.0.0.0:8081", "http://0.0.0.0:8082"]
